body {
    margin: 0;
    background-color: rgb(122, 71, 54);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas:
        'green red'
        'yellow blue';
    gap: 15px;

    border: 8px solid black;
    background-color: white;
    border-radius: 50%;
    padding: 15px;

    width: 800px;
    height: 800px;
}

.blue {
    grid-area: blue;

    background-color: blue;
    background-image: url("img/hiei.webp");

    border-bottom-right-radius: 100%;
    border: 8px solid black;
}

.red {
    grid-area: red;

    background-color: red;
    background-image: url("img/Kurama1.webp");
    background-position: -100px 20px;

    border-top-right-radius: 100%;
    border: 8px solid black;
}

.green {
    grid-area: green;

    background-color: green; 
    background-image: url("img/yusuke.webp");


    border-top-left-radius: 100%;
    border: 8px solid black;
}

.yellow {
    grid-area: yellow;

    background-color: yellow;
    background-image: url("img/kuwabara.webp");
    background-position: 35px -80px;
    background-size: 115%;

    border-bottom-left-radius: 100%;
    border: 8px solid black;
}

.selected {
    opacity: 0.5;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color:chartreuse;

    text-align: center;

    border: 30px;
}